<!DOCTYPE html>
<html lang="hu">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<link rel="stylesheet" href="/stylesheets/_lib/bootstrap.min.css">
    	<link rel="stylesheet" href="/stylesheets/style.css">

        <script src="/javascripts/map.js"></script>
        <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAVo0-wcNt0649AwELbIxWy85OyruD3Jl0&libraries=visualization&callback=initMap"></script>
				
		<title>{{ title }}</title>
	</head>
	
	<body>
		{{{ body }}}
	</body>
</html>