body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00B7FF;
}

/* map */
#map {
    width: 800px;
    height: 480px;
}
#legend {
    background: white;
    padding: 10px;
}